<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<style>
.error {
	color: red;
	font-size: 11px;
}
</style>

<body>
<div th:replace="common/header :: navbar" />
<!-- 
<div class="container">
    <div class="panel-body"
         style="background-color: #ededed; margin-top: 50px;">
        <form>
            <div class="form-group">
                <label for="recoverEmail">* Your Email: </label> <input
                    required="required" type="text" class="form-control"
                    id="recoverEmail" name="email" />
                <p style="color: #828282">Enter your registered email address here.</p>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
 -->
<!-- end of container -->

<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Forget Password</h3>
                        <form method="post" action="/forget-password">
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="email" class="form-control p_input" name="email" placeholder="Enter your email address">
                                <p class="error"><span th:text="${error}"> </span></p>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>


<div th:replace="common/header :: body-bottom-script" />
</body>
</html>
