<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<style>
.error {
	color: red;
	font-size: 11px;
}
</style>

<body>
<div th:replace="common/header :: navbar" />


<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Reset Password</h3>
                        <form method="post" action="/reset-password">
                            <div class="form-group">
                                 <label>Password</label>
                                <input type="password" class="form-control p_input" id="password" name="password" placeholder="Enter password" th:value="${password}">
                           		 <p class="error"><span th:text="${passerror}"> </span></p>
                            </div>
                            
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control p_input" id="confirm_password" name="repassword" placeholder="Re enter password" th:value="${repassword}">
                           		 <p class="error"><span th:text="${repasserror}"> </span></p>
                            </div>
                            <input type="hidden" name ="email" th:value="${email}">
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Reset</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>


<div th:replace="common/header :: body-bottom-script" />
</body>
</html>
